body,html {
	height : 100%;
	width : 100%;
	margin : 0%;
	padding : 0%;
}

body {
	text-align : center;
	
}

.test {
	text-align:center;
}

p.opeImpossible{
	position:absolute;
	bottom:640px;
	left: 650px;
}

h1{
	font-size:52px;
}

label {
	display : inline-block;
	margin : auto;
	text-align:left;
	width: 150px;
	color:black;
}
label.indispo {
	display : inline-block;
	text-align:left;
	width: 200px;
	color:black;
}

label.inscriCli {
	display : inline-block;
	text-align:left;
	width: 200px;
	color:black;
}


label.motifDirecteur{
	display : inline-block;
	text-align:left;
	width: 350px;
}

input.dateInscriCli{
	width:158px;	
}

input.motifDirecteur{
	width:450px;
}

input.modifDirecteur{
	width:265px;
	margin-left:-30px;
	margin-right:25px;
}

label.stat{
	display : inline-block;
	text-align:left;
	width: 450px;
}

label.statDate{
	width:72px;
}

body {
	background-color: #d9d9d9;
}

fieldset {
	background-color: #3882be;
}

.synthese {
	background-color: #d9d9d9;
	
}

select.conseiller{
	margin-right:25px;
	width:164px;
}

select {
	text-align : center;
}

input {
	border-radius :5px;
	text-align: center;
	font-size: 15px;
	margin-right:25px;
	
	
}


input[type=submit] {
	cursor: pointer;
	background:#FFEBCD;
	border: solid 1px #FFEBCD;
	font-weight: bold;
	padding:5px;
}
input[type=reset] {
	cursor: pointer;
	background:#FFEBCD;
	border: solid 1px #FFEBCD;
	font-weight: bold;
	padding:5px;
}

input[type=checkbox].checked {
  display:none;
}
input[type=checkbox].checkInvi {
  opacity:0;
}

input.menu {
	color : black;
	border:none;
    background:#FFEBCD;
	font-weight: bold;
	padding:15px;
	
}

input.menu:hover{
	background-color: #ccbca4;

}

td.hachures{

	background:
		/* On "top" */
			repeating-linear-gradient(
					45deg,
					transparent,
					transparent 10px,
					#b0b0b0 10px,
					#b0b0b0 20px
			),
				/* on "bottom" */
			linear-gradient(
					to bottom,
					#eee,
					#636363
			);
}

td.hachures2 {
	background: /* On "top" */ repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#ccc 10px,
			#ccc 20px
	),
		/* on "bottom" */ linear-gradient(
			to bottom,
			#eee,
			#aaaaaa
	);
}



input.deco {
	color : black;
	border:none;
    background:#D3D3D3;
	font-weight: bold;
	padding:15px;
	
}

input.invisiblebuton{
	position: absolute;
	visibility: hidden;
}

input.deco:hover{
	background-color: #9a2422;

}


select.menu{
	font-size:15px;
	background:#FFF5EE;
	border: 1px solid #FFF5EE;
	font-weight:bold;
}

li.déco {
	float:right;
}


nav{
	text-align : left;
}

	

table {
	display : inline-block;
	vertical-align : middle;
	background-color : white;
	
}

legend {
	font-size : 40px;
	font-family : "Adobe Arabic";
	background-color: white ;
    font-weight: bold;
    border-radius :10px;

}


ul {	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3882be;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

td {
	width : 120px;
	height : 20px;
	vertical-align : center;
	padding : 10px;
	background-color : #fcfcfc;
}

th {
	border-collapse : collapse;
	height : 40px;
	width : 60px;
	background-color:#4f8383;
}


td.tdErreur {
	vertical-align : center;
	background-color : #669999;
}

table, th, td {
  border: 1px solid black;
  border-collapse : collapse;
}

