body,html {
	height : 100%;
	width : 100%;
	margin : 0%;
	padding : 0%;
}

body {
	text-align : center;
	
}

.test {
	text-align:center;
	

}

label {
	display : inline-block;
	text-align:left;
	width: 150px;
	
}


body {
	background-color: #d9d9d9;
}

fieldset {
	background-color: #669999;
}

.synthese {
	background-color: #d9d9d9;
	
}

input {
	border-radius :5px;
	text-align: center;
	font-size: 15px;
	margin-right:25px;
}


input[type=submit] {
  cursor: pointer;
}

input[type=checkbox] {
  display:none;
}

input.menu {
	color : white;
	border:none;
    background:transparent;
    text-decoration:underline;
}


nav{
	text-align : left;
}

	

table {
	display : inline-block;
	vertical-align : middle;
	background-color : white;
	
}

legend {
	font-size : 35px;
	font-family : comic sans ms;
}


ul {
	list-style-type: none;
	margin-top:0px;
	background-color : #003333;
}


td {
	width : 120px;
	height : 20px;
	vertical-align : center;
	padding : 10px;
	background-color : #fcfcfc;
}

th {
	border-collapse : collapse;
	height : 40px;
	width : 60px;
	background-color:#669999;
}


td.tdErreur {
	vertical-align : center;
	background-color : red;
}

table, th, td {
  border: 1px solid black;
  border-collapse : collapse;
}

